xml/rutas.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    
    <xs:element name="rutas">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ruta" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="nombre" type="xs:string"/>
                            <xs:element name="tipo">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="Arquitectura y monumentos"/>
                                        <xs:enumeration value="Gastronómica"/>
                                        <xs:enumeration value="Paisajística"/>
                                        <xs:enumeration value="Mixta tapas y monumentos"/>
                                        <xs:enumeration value="Escalada"/>
                                        <xs:enumeration value="Senderismo"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="transporte">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="A pie"/>
                                        <xs:enumeration value="Bicicleta"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="horario">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="fecha_inicio" minOccurs="0">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:date">
                                                        <xs:attribute name="opcional" type="xs:boolean" fixed="true"/>
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="hora_inicio" minOccurs="0">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:time">
                                                        <xs:attribute name="opcional" type="xs:boolean" fixed="true"/>
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="duracion" type="xs:string"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="agencia" type="xs:string"/>
                            <xs:element name="descripcion" type="xs:string"/>
                            <xs:element name="publico_objetivo" type="xs:string"/>
                            <xs:element name="punto_inicio">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="lugar" type="xs:string"/>
                                        <xs:element name="direccion" type="xs:string"/>
                                        <xs:element name="coordenadas" type="coordenadasType"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="referencias">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="referencia" type="xs:anyURI" minOccurs="3" maxOccurs="unbounded"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="valoracion">
                                <xs:simpleType>
                                    <xs:restriction base="xs:integer">
                                        <xs:minInclusive value="0"/>
                                        <xs:maxInclusive value="10"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="hitos">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="hito" minOccurs="5" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="nombre" type="xs:string"/>
                                                    <xs:element name="descripcion" type="xs:string"/>
                                                    <xs:element name="coordenadas" type="coordenadasType"/>
                                                    <xs:element name="distancia_anterior">
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                                <xs:extension base="xs:decimal">
                                                                    <xs:attribute name="unidades" use="required">
                                                                        <xs:simpleType>
                                                                            <xs:restriction base="xs:string">
                                                                                <xs:enumeration value="m"/>
                                                                                <xs:enumeration value="km"/>
                                                                            </xs:restriction>
                                                                        </xs:simpleType>
                                                                    </xs:attribute>
                                                                </xs:extension>
                                                            </xs:simpleContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="fotos">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="foto" type="xs:string" minOccurs="1" maxOccurs="5"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="videos" minOccurs="0">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="video" type="xs:string" maxOccurs="3"/>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="planimetria" type="xs:string"/>
                            <xs:element name="altimetria" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="coordenadasType">
        <xs:sequence>
            <xs:element name="longitud" type="xs:decimal"/>
            <xs:element name="latitud" type="xs:decimal"/>
            <xs:element name="altitud">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:decimal">
                            <xs:attribute name="unidades" use="required">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="m"/>
                                        <xs:enumeration value="km"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:attribute>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

</xs:schema>